a:visited {
    color: #FFF;
}

nav-flex {
    width: 100%;
}

.deck-block {
    margin-top: 20px;
}

.btn{
    margin-left: 2px;
    margin-right: 2px;
}

.color-black {
    color: #000;
}

.new {
    margin-top: 2em;
}

.card-block:hover{
    background-color: rgba(0,0,0,0.1);
}